button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 50vh;
    position: relative;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 50vh;
    position: relative;
}